
.vs/ProjectEvaluation/swe_a1grandner_mtcg.metadata.v5.1
.vs/ProjectEvaluation/swe_a1grandner_mtcg.metadata.v5.1
.vs/ProjectEvaluation/swe_a1grandner_mtcg.projects.v5.1
.vs/SWE_A1Grandner_MTCG/DesignTimeBuild/.dtbcache.v2
.vs/SWE_A1Grandner_MTCG/FileContentIndex/155f4722-79bf-4dae-9714-aaf3e2c3de66.vsidx
.vs/SWE_A1Grandner_MTCG/FileContentIndex/1a5ee5f0-279c-4aae-94f8-339e55140f98.vsidx
.vs/SWE_A1Grandner_MTCG/FileContentIndex/2b4d5428-efff-47de-9ae0-0d682082eae6.vsidx
.vs/SWE_A1Grandner_MTCG/FileContentIndex/32067bdb-e84b-4cb5-97d4-12a3ef9cbd42.vsidx
.vs/SWE_A1Grandner_MTCG/FileContentIndex/9caa8a1b-d1fe-4383-9070-b56514c4a1ac.vsidx
.vs/SWE_A1Grandner_MTCG/FileContentIndex/b2bcc513-9c46-4c30-8794-6369420ffa99.vsidx
.vs/SWE_A1Grandner_MTCG/FileContentIndex/c3f19de1-0205-45c7-a04c-8db04350b5d0.vsidx
.vs/SWE_A1Grandner_MTCG/v17/.suo
